<!doctype html>
<html>
<head>
  <title>Newsletter Unsubscribed</title>
  <link href="css/r4l_unsub.css" rel="stylesheet">

  <script>
    function redirectToHomePage () {
      window.top.location = "http://www.recipe4living.com/";
    }
    setTimeout("redirectToHomePage();",5000);
  </script>
</head>
<body>
  <div class="message">
    <p>Thank you for your feedback! We're sorry to see you go and hope you'll come visit us again in the future.</p>
    <p>Have a good day!</p>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<?php echo $google_analytics; ?>']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <?php echo $pixel; ?>
</body>
</html>

