<table cellpadding='0' cellspacing='0' width='575px' border='0' style='margin-left: 0px;'>
<tr>
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td valign='middle'>[CHECKBOX_1]</td>
				<td><img src='[IMAGE_URL_1]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_1]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_1]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_1])</span>
		<br>[DESCRIPTION_1]
	</td>
	
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td>[CHECKBOX_2]</td>
				<td><img src='[IMAGE_URL_2]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_2]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_2]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_2])</span>
		<br>[DESCRIPTION_2]
	</td>
</tr>
<tr><td colspan='4' height='6' style='font-size: 10px;'>&nbsp;</td></tr>
<tr>
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td valign='middle'>[CHECKBOX_3]</td>
				<td><img src='[IMAGE_URL_3]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_3]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_3]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_3])</span>
		<br>[DESCRIPTION_3]
	</td>
	
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td>[CHECKBOX_4]</td>
				<td><img src='[IMAGE_URL_4]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_4]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_4]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_4])</span>
		<br>[DESCRIPTION_4]
	</td>
</tr>
<tr><td colspan='4' height='6' style='font-size: 10px;'>&nbsp;</td></tr>
<tr>
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td valign='middle'>[CHECKBOX_5]</td>
				<td><img src='[IMAGE_URL_5]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_5]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_5]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_5])</span>
		<br>[DESCRIPTION_5]
	</td>
	
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td>[CHECKBOX_6]</td>
				<td><img src='[IMAGE_URL_6]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_6]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_6]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_6])</span>
		<br>[DESCRIPTION_6]
	</td>
</tr>
<tr><td colspan='4' height='6' style='font-size: 10px;'>&nbsp;</td></tr>
<tr>
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td valign='middle'>[CHECKBOX_7]</td>
				<td><img src='[IMAGE_URL_7]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_7]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_7]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_7])</span>
		<br>[DESCRIPTION_7]
	</td>
	
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td>[CHECKBOX_8]</td>
				<td><img src='[IMAGE_URL_8]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_8]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_8]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_8])</span>
		<br>[DESCRIPTION_8]
	</td>
</tr>
<tr><td colspan='4' height='6' style='font-size: 10px;'>&nbsp;</td></tr>
<tr>
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td valign='middle'>[CHECKBOX_9]</td>
				<td><img src='[IMAGE_URL_9]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_9]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_9]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_9])</span>
		<br>[DESCRIPTION_9]
	</td>
	
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td>[CHECKBOX_10]</td>
				<td><img src='[IMAGE_URL_10]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_10]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_10]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_10])</span>
		<br>[DESCRIPTION_10]
	</td>
</tr>
<tr><td colspan='4' height='6' style='font-size: 10px;'>&nbsp;</td></tr>
<tr>
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td valign='middle'>[CHECKBOX_11]</td>
				<td><img src='[IMAGE_URL_11]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_11]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_11]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_11])</span>
		<br>[DESCRIPTION_11]
	</td>
	
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td valign='middle'>[CHECKBOX_12]</td>
				<td><img src='[IMAGE_URL_12]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_12]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_12]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_12])</span>
		<br>[DESCRIPTION_12]
	</td>
</tr>
<tr><td colspan='4' height='6' style='font-size: 10px;'>&nbsp;</td></tr>
<tr>
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td valign='middle'>[CHECKBOX_13]</td>
				<td><img src='[IMAGE_URL_13]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_13]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_13]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_13])</span>
		<br>[DESCRIPTION_13]
	</td>
	
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td valign='middle'>[CHECKBOX_14]</td>
				<td><img src='[IMAGE_URL_14]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_14]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_14]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_14])</span>
		<br>[DESCRIPTION_14]
	</td>
</tr>
<tr><td colspan='4' height='6' style='font-size: 10px;'>&nbsp;</td></tr>
<tr>
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td valign='middle'>[CHECKBOX_15]</td>
				<td><img src='[IMAGE_URL_15]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_15]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_15]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_15])</span>
		<br>[DESCRIPTION_15]
	</td>
	
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td valign='middle'>[CHECKBOX_16]</td>
				<td><img src='[IMAGE_URL_16]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_16]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_16]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_16])</span>
		<br>[DESCRIPTION_16]
	</td>
</tr>
<tr><td colspan='4' height='6' style='font-size: 10px;'>&nbsp;</td></tr>
<tr>
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td valign='middle'>[CHECKBOX_17]</td>
				<td><img src='[IMAGE_URL_17]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_17]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_17]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_17])</span>
		<br>[DESCRIPTION_17]
	</td>
	
	<td valign='top' style='font-size: 10px;'>
		<table>
			<tr>
				<td valign='middle'>[CHECKBOX_18]</td>
				<td><img src='[IMAGE_URL_18]'></td>
			</tr>
			<tr>
				<td colspan='2'>[MESSAGE_18]</td>
			</tr>
		</table>
	</td>
	<td align='left' valign='top' style='font-size: 10px;'>
		<span style='font-size:12px; font-weight:bold; color:#14506a;'>[TITLE_18]</span>
		<span style='font-size:11px; color:#464646;'><br>([FREQUENCY_18])</span>
		<br>[DESCRIPTION_18]
	</td>
</tr>
</table>