body {
  font-family: sans-serif;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.message {
  color: #283;
  font-size: 1.125em;
}

.message strong {
  font-weight: bold;
  font-style: italic;
}

